
body {
    /* background-image: url('./images/background.jpeg'); */
    
    
    background-repeat: no-repeat;
  font-family: 'Courier New', Courier, 'Courier New', Courier, monospace; 
   font-weight:bold;
    
  }
  