.carousel-slide {
    height: 250px;
    color: #fff;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #364d79;
    padding-top:20px;
  font-family: 'Courier New', Courier, 'Courier New', Courier, monospace; 

  }
  @media (max-width: 960px) {
    .carousel-slide {
      width: 100%;
      height: 300px;
      
    }
  }