.attendanceclass .card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  
  background-image: url("../Components/images/background.jpeg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  height: 100%;
  min-height:100vh;
}

.attendanceclass .header-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  gap: 24px;
  align-items: center;
  font-family: "Courier New", Courier, monospace;
}

.attendanceclass .header-container h2 {
  margin: 0;
  display: flex;
  align-items: center;
  font-family: "Courier New", Courier, monospace;
}

.attendanceclass .dropdown-card {
  width: 100%;
  max-width: 600px;
  padding: 24px;
  border-radius: 4px;
  border: 1.5px solid black;
  box-shadow: rgba(0, 0, 0, 0.4) 5px 5px, rgba(0, 0, 0, 0.3) 10px 10px,
    rgba(0, 0, 0, 0.2) 15px 15px, rgba(0, 0, 0, 0.1) 20px 20px,
    rgba(0, 0, 0, 0.05) 25px 25px;
  transition: box-shadow 0.3s;
  font-family: "Courier New", Courier, monospace;
}

.attendanceclass .dropdown-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.attendanceclass .dropdown-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 16px;
  align-items: center;
}
.attendanceclass #submit {
  display: block;
  width: 100%;
  padding: 0.75rem;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.attendanceclass .dropdown {
  flex: 1;
}

.attendanceclass .submit-button-container {
  display: flex;
  justify-content: center;
}
@media (max-width: 960px) {
  .attendanceclass {
    height: 100%;
    padding: 10px;
  }

  .attendanceclass .rectangle {
    width: 75%;
  }
}
