.document-box {
  background-color: #f5f5f5;
  border-radius: 4px;
  padding: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 80%;
  
}

.document-heading {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
  padding: 10px;
  word-break: break-word; /* Ensure long headings wrap on smaller screens */
}

.document-actions {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Center buttons vertically */
  margin-top: 8px;
}

.upload-list {
  margin-top: 24px;
  padding: 20px;
}

@media screen and (max-width: 768px) {
  .document-box {
    width: 80%;
    align-content: center;
  }

  .document-heading {
    font-size: 14px;
  }
}
