.event-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1rem;
  margin-top: 2rem;
  padding: 15px;
  justify-content: center;
  align-items: center;
}

.event-card {
  box-shadow: rgb(38, 57, 77) 10px 30px 50px -15px;
  border: 3px dashed rgb(38, 57, 77);
  border-radius: 8px;
  padding: 1rem;
  background-color: #f8f8f8;
  max-width: 100%; /* Ensure card takes full width in mobile */
  overflow: auto;
}

.event-card h2 {
  font-size: 1.1rem; /* Adjust font size for mobile */
  font-family: "Courier New", Courier, monospace;
  margin-bottom: 0.5rem;
  color: black;
  white-space: nowrap;
  overflow: hidden; /* Change to "hidden" to hide overflowing text */
  text-overflow: ellipsis;
}

.event-card p {
  font-size: 1rem;
  font-family: "Courier New", Courier, monospace;
  color: rgb(0, 0, 0);
  overflow: hidden;
  text-overflow: ellipsis;
}
