.signup {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding:70px;
  min-height:100vh;
  color: white;
  font-family: "Courier New", monospace;
  background-image: url("../Components/images/background.jpeg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  
}

.signup .rectangle {
  width: 400px;
  height:100%;
  background-color: #333;
  box-shadow: rgba(0, 0, 0, 0.4) 5px 5px, rgba(0, 0, 0, 0.3) 10px 10px,
    rgba(0, 0, 0, 0.2) 15px 15px, rgba(0, 0, 0, 0.1) 20px 20px,
    rgba(0, 0, 0, 0.05) 25px 25px;
  padding: 2rem;
  border-radius: 8px;
}

.signup h1 {
  text-align: center;
  margin-bottom: 2rem;
}

.signup .form-group {
  margin-bottom: 1.5rem;
}

.AddStudentlabel {
  font-weight: bold;
}

.signup input[type="text"],
input[type="password"],
input[type="file"] {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  margin-left: -8px;
}

.signup button {
  display: block;
  width: 100%;
  padding: 0.75rem;
  background-color: white;
  color: black;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.signup .submit-btn:hover {
  background-color: #555;
  color: white;
}

.signup .upload-label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

/* Mobile Styles */
@media (max-width: 960px) {
  .signup {
    height: 100%;
    padding: 20px;
  }

  .signup .rectangle {
    width: 75%;
  }
}
